# Python Environment and folders
env
venv
*.csv
data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Secrets
configs.py
config_template.py

# Cached files
.cache*
debug.log
.vscode

target/
dbt_modules/
logs/